*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;   
}
.hide{
  visibility: hidden;
}
body,.body{
    height: 100vh;
    width: 100%;
    background-color: #212121;
    overflow-y: hidden;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #0056b3;
}
.prompt-essentials {
    background-color: #212121;
    width: 50%;
  }
.prompt-input{
  border: 1px solid #9b9b9b ;
}
.sidebar{
    background-color: #171717;
    height: 95%;
}
.open-sidebar{
    width: 260px;
}
.close-sidebar{
    width: 0px;
}
.dropdown-selection{
    border: 1px solid white;
    user-select: none;
    background-color: rgb(63 63 63);
}
.model-selection:hover,.newchat:hover{
    background-color: rgb(63 63 63);
    
}
.model-selection{
  user-select: none !important;
}
.sidebar-content{
    height: 95%;
}
.cross{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

/*.response-message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(63 63 63);
    color: white;
    border-radius:20px;
    padding: 15px;
    
}*/
.message{
justify-content: center;
  height: 100%;
  width: 100%;
 /* background-color: rgb(63 63 63);*/
  color: white;
  line-height: 1.60rem;
}
.user-prompt{
    height: 30px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    /*background-color: white;
    color: rgb(63 63 63);*/
    color: white;
    border-radius:20px;
    padding: 15px; 
    font-size: 17px;
    
}
.response-body{
    width: 40%;
}
#prompt{
    resize: none !important;
    overflow: auto !important;
}
.copy-btn{
    border-radius: 50%;
    height: 30px !important;
}
/*animation*/
.cursor{
    display: block;
    margin-left: 1px;
    width: 2px;
    height: 40px;
    background-color: white;
    animation: blinkCursor 1s infinite;
}

@keyframes blinkCursor {
    from, to { opacity: 0; }
    50% { opacity: 1; }
}

#type{
    height: fit-content;
    font-size: 40px;
}
.animation{
    height: 55px;
}
.img-logo img{
    animation: rotate 20s linear infinite;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.response::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    z-index: 10000;
  }
  .response::-webkit-scrollbar-thumb:hover{
    cursor: pointer !important;
    z-index: 10000;
  }
  .response::-webkit-scrollbar-thumb{
    z-index: 10000;
  }
  /* Style the scrollbar thumb */
  .response::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
    z-index: 10000;
  }
  
  /* Style the scrollbar track */
  .response::-webkit-scrollbar-track {
    background-color: #212121; /* Color of the scrollbar track */
    z-index: 10000;
    border-radius: 5px;
  }
  /*new*/
  .prompt-input #prompt::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    z-index: 10000;
  }
  .prompt-input #prompt::-webkit-scrollbar-thumb:hover{
    cursor: pointer !important;
    z-index: 10000;
  }
  .prompt-input #prompt::-webkit-scrollbar-thumb{
    border-radius: 0.75rem;
    z-index: 10000;
  }
  /* Style the scrollbar thumb */
  .prompt-input #prompt::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 0.75rem; /* Rounded corners for the scrollbar thumb */
    z-index: 10000;
  }
  
  /* Style the scrollbar track */
  .prompt-input #prompt::-webkit-scrollbar-track {
    background-color: #212121; /* Color of the scrollbar track */
    z-index: 10000;
    border-radius: 0.75rem;
  }
  .disabled-btn {
    opacity: 0.5; /* Reduce opacity to make it appear disabled */
    cursor: not-allowed; /* Change cursor to indicate non-interactivity */
    pointer-events: none; /* Disable pointer events to prevent interaction */
    /* Optionally, add other styles to visually indicate disabled state */
}
/*.summary{
    height: 100px;
    min-width: 80%;
    width: 100%;
    transition: all 0.3s;
}*/
.summary-wrapper{
  min-width: 80%;
  width: 100%;
}
.summary-wrapper:hover {
  background-color: rgba(47, 47, 47, 0.8);
}
.sidebar-content::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }
  /* Style the scrollbar thumb */
  .sidebar-content::-webkit-scrollbar-thumb:hover {
    /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
    opacity: 0.85;
  }
  
  /* Style the scrollbar track */
  .sidebar-content::-webkit-scrollbar-track {
    background-color: #171717; /* Color of the scrollbar track */
    border-radius: 5px;
  }
  
  .sidebar-newchat{
    background-color: #171717;
  }
  .sidebar-newchat:hover{
    background-color: rgba(47, 47, 47, 0.8);
  }
  /*Loading btn animation*/
  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px; /* Half of the spinner's height */
    margin-left: -8px; /* Half of the spinner's width */
    border: 2px solid black;
    border-top-color: white; /* Use the color of the parent element */
    border-radius: 50%;
    animation: spin 0.8s linear infinite; /* Rotate the spinner */
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg); /* Rotate the spinner 360 degrees */
    }
  }
  .active{
    background-color: rgb(63 63 63);
  }

  .copy-msg button{
    z-index: 1000;
  }
  .copy-msg:hover{
    color: #1e1e1e;
    font-weight: 600;
  }
  .scroll-down-btn{
    background-color: #1e1e1e;
    border: 1px solid white;
    left: 49%;
    opacity: 0.7;
  }
  .scroll-down-btn:hover{
    opacity: 1;
  }

.dark-body{
  background-color: #f1f1f1;
  color: black !important;
  color-scheme: white;
}
.dark-body .navbar nav ul li div .buttons-wrapper .newchat{
 border: 1px solid black !important;
}
.dark-sidebar-content{
  background-color: #f1f1f1;
  border-right: 2px solid black;
  border-top: 2px solid black;
}
.dark-cross svg path{
  fill: black !important;
}
.dark-toggle-sidebar svg path{
  fill: black !important;
}
.dark-prompt{
  color: black !important;
}
.dark-prompt-essentials{
  background-color: #f1f1f1;
  border: 1px solid black !important;
}
.dark-prompt-essentials .prompt-input textarea::placeholder{
  color: black !important;
}
.dark-send-prompt-btn {
  background-color: black !important;
  color: white !important;
}
.dark-send-prompt-btn span svg path{
  color: white !important;
}
.dark-dark-mode-btn{
  background-color: rgb(63 63 63) !important;
  color: white!important;
}
.dark-dark-mode-btn #toggle{
  background-color: white !important;
  color: rgb(63 63 63);
}
.dark-scroll{
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;
  opacity: 0.4;
}
.dark-scroll svg path{
  stroke: black;
}
#interaction-container:last-child{
  margin-bottom: 5px !important;
}
#interaction-container{
  height: 85%;
  padding-bottom:64px;
}
#type{
  background-image: linear-gradient(to right, 
  #4285f4, #9b72cb, #d96570, #9b72cb, #4285f4, #d96570);  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent;
  animation: rainbow 5s linear infinite;
  height: 50px;
}

/* Animation for continuous color change */
@keyframes rainbow {
  0% { 
    background-position: 0% 50%; 
  }
  100% { 
    background-position: 100% 50%; 
  }
}
.cursor-dark{
  background-color: black !important;
}

.code-block{
  width: 27rem !important;
}
.code-block-wrapper{
  overflow-x: scroll;
  width: 100% !important;
}
.message pre::-webkit-scrollbar {
  height: 10px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb */
.message pre::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 1rem; /* Rounded corners for the scrollbar thumb */
}

/* Style the scrollbar track */
.message pre::-webkit-scrollbar-track {
  background-color: rgba(13,13,13,1);; /* Color of the scrollbar track */
}
.message pre::-webkit-scrollbar-track:hover {
  cursor: pointer;
}
.message pre{
  font-family: monospace;
  background-color: rgba(13,13,13,1);
  overflow-x: scroll;
  width:100% !important;
  border-radius: 0.75rem !important;
  padding: 1.5rem;
  margin: 10px 0px;
}
.message pre code{
  width: 100% !important;
}
.message pre code ul{
 list-style: none; 
}
.message pre code li{
  list-style: none;
}
.scroll-down-btn{
  bottom: 100px;
}

.message p{
  margin: 5px 0px;
}
.message ul{
  margin: 15px 0px;
  list-style: decimal;
}
.message ol{
  margin: 20px 0px;
  list-style: decimal;
}
.message ul li{
 margin: 5px 0px;
}
.message ul ul {
  list-style:disc;
  padding-left: 10px;
}
.message ul ul li{
  margin: 2px 0px;
}
.message ul li::marker{
  padding-right: 5px;
 }
.message p strong{
  font-size: 1rem;
  margin: 10px 0px;
}
.message a{
  text-decoration: none;
  color: #4285f4;
}
.message a:hover{
  text-decoration: underline;
  color: #4285f4;
}
footer{
  background-color: #212121;
  height: fit-content;
  margin: 0;
  padding: 0;
}